<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yhl.dao.UserDao">

<!--     <select id="queryById" resultType="User" parameterType="String">
        select 
        u.user_id "userId", 
        u.user_name "userName",
        u.user_age "userAge",
        d.dog_id "dog.dogId",
        d.dog_name "dog.dogName",
        d.dog_age "dog.dogAge"
       
        from user_table u , dog_table d 
        where u.dog_id=d.dog_id and u.user_id=#{userId}
    </select> -->
<!-- 	
	<select id="queryByAgeAndName" resultType="User" >
		select 
		u.user_id "userId",
		u.user_name "userName",
		u.user_age "userAge",
		d.dog_id "dog.dogId",
		d.dog_name "dog.dogName",
		d.dog_age "dog.dogAge"
		
		from user_table u,dog_table d
		where u.dog_id=d.dog_id and u.user_name=#{userName} and u.user_age=#{userAge}
	</select> -->
	
	
	<select id="queryByNameAndPassword" resultType="Consumer" parameterType="Consumer">
		select 
		consumer_id "consumerId",
		consumer_name "consumerName",
		consumer_password "consumerPassword"
		from consumer_table
		where consumer_name=#{consumerName} and consumer_password=#{consumerPassword}
	</select>
	
	<select id="queryByNameAndPassword1" resultType="Seller" parameterType="Seller">
		select 
		seller_id "sellerId",
		seller_name "sellerName",
		seller_password "sellerPassword"
		from seller_table
		where seller_name=#{sellerName} and seller_password=#{sellerPassword}
	</select>
	
	<select id="queryByNameAndPassword3" resultType="int" parameterType="Seller">
		select 
		seller_id "sellerId"
		from seller_table
		where seller_name=#{sellerName} and seller_password=#{sellerPassword}
	</select>
	
	<select id="queryByNameAndPassword2" resultType="Admin" parameterType="Admin">
		select 
		admin_id "adminId",
		admin_name "adminName",
		admin_password "adminPassword"
		from admin_table
		where admin_name=#{adminName} and admin_password=#{adminPassword}
	</select>
	
	<insert id="insertConsumer" parameterType="Consumer" useGeneratedKeys="true" keyProperty="consumerId"> 
		insert into
		consumer_table
		(consumer_name,consumer_password,consumer_email,consumer_address,consumer_phone,consumer_zip)
		values(#{consumerName},#{consumerPassword},#{consumerEmail},#{consumerAddress},#{consumerPhone},#{consumerZip})
	</insert>
	
	<insert id="insertSeller" parameterType="Seller" useGeneratedKeys="true" keyProperty="sellerId"> 
		insert into
		seller_table
		(seller_name,seller_password,seller_email,seller_address,seller_phone,seller_zip)
		values(#{sellerName},#{sellerPassword},#{sellerEmail},#{sellerAddress},#{sellerPhone},#{sellerZip})
	</insert>
	
	<select id="findAllConsumer" resultType="Consumer" >
		select *
		from consumer_table
	</select>
	
	<select id="findAllSeller" resultType="Seller" >
		select *
		from seller_table
	</select>
	
	<select id="selectAllClothes" resultType="Clothes" >
		select 
		clothes_id "clothesId",
		clothes_introduction "clothesIntroduction",
		clothes_price "price",
		clothes_img "clothesImg",
		clothes_count "clothesCount",
		sort_id "sortId",
		seller_id "sellerId"
		from clothes_table
	</select>
	
	<delete id="deleteConsumer" parameterType="Consumer">
		delete 
		from consumer_table
		where consumer_id=#{consumerId}
	</delete>
	
	<insert id="addConsumer" parameterType="Consumer" useGeneratedKeys="true" keyProperty="consumerId"> 
		insert into
		consumer_table
		(consumer_name,consumer_password,consumer_email,consumer_address,consumer_phone,consumer_zip)
		values(#{consumerName},#{consumerPassword},#{consumerEmail},#{consumerAddress},#{consumerPhone},#{consumerZip})
	</insert>
	
	<delete id="deleteSeller" parameterType="Seller">
		delete 
		from seller_table
		where seller_id=#{sellerId}
	</delete>
	
	
	<delete id="clothesDelete" >
		delete 
		from clothes_table
		where clothes_id=#{clothesId}
	</delete>
	
	<insert id="addSeller" parameterType="Seller" useGeneratedKeys="true" keyProperty="sellerId"> 
		insert into
		seller_table
		(seller_name,seller_password,seller_email,seller_address,seller_phone,seller_zip)
		values(#{sellerName},#{sellerPassword},#{sellerEmail},#{sellerAddress},#{sellerPhone},#{sellerZip})
	</insert>
	
	<select id="query" resultType="Consumer" parameterType="Consumer">
		select 
		consumer_id "consumerId",
		consumer_name "consumerName",
		consumer_password "consumerPassword",
		consumer_email "consumerEmail",
		consumer_address "consumerAddress",
		consumer_phone "consumerPhone",
		consumer_zip "consumerZip"
		from consumer_table
		where consumer_name=#{consumerName} and consumer_password=#{consumerPassword}
	</select>
	
 	<select id="queryById" resultType="Consumer" parameterType="Consumer">
       	select 
		consumer_id "consumerId",
		consumer_name "consumerName",
		consumer_password "consumerPassword",
		consumer_email "consumerEmail",
		consumer_address "consumerAddress",
		consumer_phone "consumerPhone",
		consumer_zip "consumerZip"
		from consumer_table
		where consumer_id=#{consumerId}
       	
    </select> 
    
    <select id="queryAddresseeById" parameterType="Consumer" resultType="Address">
    	select 
		a.id "id",
		a.addressee "addressee",
		a.address "address",
		a.phone "phone",
		c.consumer_id "consumer.consumerId"
		
		from address_table a,consumer_table c
		where a.cus_id=#{consumerId} and a.cus_id=c.consumer_id
    	
    </select>
    
    <insert id="addAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="id"> 
		insert into
		address_table
		(addressee,address,phone,cus_id)
		values (#{addressee},#{address},#{phone},#{consumer.consumerId})
	</insert>
	
	<delete id="deleteAddress" parameterType="Address">
		delete 
		from address_table
		where id=#{id}
	</delete>
	
<!-- 	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId"> 
		insert into
		user_table(user_id,user_name,user_age) 
		values(#{userId},#{userName},#{userAge})
	</insert>
	
	<delete id="deleteUser" parameterType="User">
		delete from 
		user_table
		where user_id=#{userId}
	
	</delete> -->
	
</mapper>