<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yhl.dao.UserDao">

    <select id="queryById" resultType="User" parameterType="String">
        select 
        u.user_id "userId", 
        u.user_name "userName",
        u.user_age "userAge",
        d.dog_id "dog.dogId",
        d.dog_name "dog.dogName",
        d.dog_age "dog.dogAge"
       
        from user_table u , dog_table d 
        where u.dog_id=d.dog_id and u.user_id=#{userId}
    </select>
	
	<select id="queryByAgeAndName" resultType="User" >
		select 
		u.user_id "userId",
		u.user_name "userName",
		u.user_age "userAge",
		d.dog_id "dog.dogId",
		d.dog_name "dog.dogName",
		d.dog_age "dog.dogAge"
		
		from user_table u,dog_table d
		where u.dog_id=d.dog_id and u.user_name=#{userName} and u.user_age=#{userAge}
	</select>
	<select id="queryByNameAndPassword" resultType="Consumer" parameterType="Consumer">
		select 
		consumer_id "consumerId",
		consumer_name "consumerName",
		consumer_password "consumerPassword"
		from consumer_table
		where consumer_name=#{consumerName} and consumer_password=#{consumerPassword}
	</select>
	
	
	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId"> 
		insert into
		user_table(user_id,user_name,user_age) 
		values(#{userId},#{userName},#{userAge})
	</insert>
	
	<delete id="deleteUser" parameterType="User">
		delete from 
		user_table
		where user_id=#{userId}
	
	</delete>
	
</mapper>